.bg {
    padding-top: 65px;
    background: rgb(232,97,39);
    background: linear-gradient(180deg, #0077ad 0%, #242422 40%);
    background-position: center;
    background-size: cover;
}

@media (max-width: 480px) {
    .bg {
      background: linear-gradient(180deg, #0077ad 0%, #242422 50%);
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.main h2 {
    text-align: center;
    font-size: 5rem;
    font-weight: 400;
}

.product {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 5px 12px 5px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.product:nth-last-child(1) {
    margin-bottom: 10px;
}

.pepper-icon {
    color: #d73c41;
}

.name {
    color: #feea03;
    font-weight: 400;
    font-size: 2.6rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vege {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.vege > .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #84b341;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}

.circle > .leaf {
    font-size: 2.5rem;
    color: white;
}

.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px;
    font-size: 2.5rem;
    font-weight: 400;
}

.legend div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.legend div:nth-last-child(1) {
    margin-right: 0;
}

.price {
    margin-top: 12px;
}

.price span {
    margin-right: 10px;
}

@media (max-width: 915px) {

    .product {
        width: 45%;
    }

}

@media (max-width: 480px) {

    .product {
        width: 100%;
    }

    .legend {
        flex-direction: column;
        width: fit-content;
    }
  
    .legend div {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .legend div:nth-last-child(1) {
        margin-bottom: 0;
    }
}