@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: 300;
}

body {
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.image-column {
  text-align: center;
}

.image-container {
  display: inline-block;
}

.phone-link:hover {
  text-decoration: none;
}